/* main div styles */



.divImg {
    margin-top: 5%;
    width: 100%;
    box-sizing: border-box;

}

.homeImg {
    width: 30%;
    margin-top: 5%;
}

.paragraph {
    margin: 1.562rem 0 1.562rem 0;
    padding-right: 35%;
}

@media only screen and (max-width: 768px) {
    .homeImg {
        width: 40%;
        margin-bottom: 5%;
    }

    .paragraph {
        padding-right: 25%;
    }
}

@media only screen and (max-width: 480px) {}